# Python 3.9+ required. Used by Render for deployment.
Flask==3.0.0
gunicorn==21.2.0

qiskit>=1.0.0
qiskit-aer>=0.13.0
qiskit-finance>=0.4.0
qiskit-optimization>=0.6.0
qiskit-algorithms>=0.3.0


yfinance>=0.2.33


numpy>=1.24.0
pandas>=2.0.0
matplotlib>=3.7.0
